@model IEnumerable<PilamungaSEvaluacion.Models.Reserva>

@{
    ViewData["Title"] = "Index";
}

<h1>Reservas</h1>

<p>
    <a asp-action="Create" class=" btn btn-secondary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaEntrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaSalida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valorpagar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InformacionCliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEntrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaSalida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valorpagar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InformacionCliente)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdReserva" class="btn btn-success">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdReserva" class="btn btn-primary">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdReserva" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
